aiodns==1.1.1
aiogram==2.1
aiohttp==3.7.4
aiohttp-jinja2==1.1.0
aiopg==0.16.0
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
base58==1.0.3
bitcoin==1.1.39
bitmerchant==0.1.8
bleach==3.1.0
blockcypher==1.0.73
cachetools==3.1.0
ccxt==1.18.766
cffi==1.12.3
chardet==3.0.4
cmarkgfm==0.4.2
cryptography==2.6.1
decorator==4.4.0
docutils==0.14
ecdsa==0.13.2
future==0.17.1
idna==2.8
idna-ssl==1.1.0
ipython==7.4.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2==2.10.1
MarkupSafe==1.1.1
multidict==4.5.2
parso==0.4.0
peewee==2.10.2
peewee-async==0.5.12
pexpect==4.7.0
pickleshare==0.7.5
pkginfo==1.5.0.1
prompt-toolkit==2.0.9
psycopg2-binary==2.8.2
ptyprocess==0.6.0
pycares==3.0.0
pycparser==2.19
Pygments==2.3.1
pyOpenSSL==19.0.0
PySocks==1.6.8
python-dateutil==2.2
pytz==2019.1
PyYAML==5.1
readme-renderer==24.0
redis==3.2.1
requests==2.4.3
requests-toolbelt==0.9.1
six==1.12.0
tqdm==4.31.1
trafaret==1.2.0
trafaret-config==2.0.2
traitlets==4.3.2
typing-extensions==3.7.2
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
yarl==1.1.0
