[Unit]
Description=hackaton
After=network.target
After=postgresql.service

[Service]
Type=simple
User=hackaton
SyslogIdentifier=hackaton
WorkingDirectory=/home/shaman/hackaton
LimitNOFILE=65536
PIDFile=/var/run/hackaton.pid
ExecStart=/home/shaman/hackaton/management/start.sh
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
